.movie-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  2%;
    padding: 3%;


    .backlink{
        width: 100%;
        text-align:start;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .backlink:hover{
        text-decoration: underline;
    }

    .description{
        max-width: 100%;
        word-wrap: break-word;
    }
}

.movie{
    width: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    color:white;
    gap: 20px;

    img{
        width: 100%;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

}