form {
    width: 100%;
    
    input,textarea{
        width: 100%;
        padding: 2%;
        border-radius: 5px;
        border: none;
        background-color: white;
        margin: 2% 0;
    }

    button{
        width: 100%;
        padding: 2%;
        margin-top: 3%;
        font-weight: 800;
        border: none;
    }

    button:hover{
        color: white;
        background-color: gray;
    }
    ::placeholder{
        color: black;
    }
}