*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.App{
  display: flex;
  gap: 40px;
  width: 100vw;
}

.home{
  display: flex;
  gap: 40px;
  width: 100vw;
  background-color: black;
  height: 100vh;
  width: 100%;
}

.left{
  padding: 2%;
  width: 40%;

  h1{
    color: white;
    font-weight: 800;
    font-style: italic;
    font-size: 2.5rem;
  }
}

p{
  color:white
}

.right{
  width: 60%;
  height: 95vh;
  overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: white black;
}

