.movieCard{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h2{
        font-size: 2rem;
        font-weight: 800;
        font-style: italic;
    }

    p{
        font-size: 0.7rem;
        padding: 5px;
    }

    button{
        margin-top: 1%;
        width: fit-content;
        padding: 1% 2%;
    }
}